body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?auto=format&fit=crop&q=80');
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.login-container {
    background: rgba(0, 0, 0, 0.63);
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    color: white;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 100%;
}

.input::placeholder {
    color: rgb(235, 168, 255);
}
  
.input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
}
  
.login-button {
    padding: 0.75rem;
    background: #8E24AA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.social-login {
    padding: 0.75rem;
    background: transparent;
    color: #B39DDB;
    border: 1px solid #B39DDB;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.center-button {
    display: block;
    margin: 0 auto;
    max-width: 250px;
}

.divider {
    text-align: center;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #333;
}

.links {
    text-align: center;
    margin-top: 1rem;
}

.links a {
    color: #B39DDB;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-button:hover, .social-login:hover {
    background: #6A1B9A;
    color: white;
}

.modal {
    display: none; /* Oculta el modal inicialmente */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.93); /* Fondo semitransparente */
}

.roles {
    margin-top: 1rem;
}

.modal-content {
    background-color: transparent;
    margin: 15% auto; 
    padding: 20px;
    color: white;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    background: none; 
    border: none; 
    color: white; 
    font-size: 2rem; 
    font-weight: bold; /* Negrita para resaltar */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    padding: 0.5rem; /* Espaciado interno opcional */
    line-height: 1; /* Ajuste de altura de línea */
}

.close-button:hover {
    color: #8a009c; /* Cambia a rojo al pasar el cursor (opcional) */
}

.close-button:focus {
    outline: none; /* Quita el contorno azul predeterminado */
}

.radio-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
.radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 220px;
    cursor: pointer;
    height: 45px;
    position: relative;
}
  
.radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 45px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
}
.radio-input label:hover::before {
    transition: all 0.2s ease;
    background-color: #2a2e3c;
}
  
.radio-input .label:has(input:checked)::before {
    background-color: #3c2549;
    border-color: #6600a1;
    height: 50px;
}
.radio-input .label .text {
    color: #fff;
}
  
.radio-input .label input[type="radio"] {
    background-color: #202030;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-input .label input[type="radio"]:checked {
    background-color: #7b00b4;
    -webkit-animation: puls 0.7s forwards;
    animation: pulse 0.7s forwards;
}
  
.radio-input .label input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    transform: scale(0);
}
  
.radio-input .label input[type="radio"]:checked::before {
    transform: scale(1);
}
  
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
  