.social-login {
    padding: 0.75rem;
    background: transparent;
    color: #B39DDB;
    border: 1px solid #B39DDB;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.social-login:hover {
    padding: 0.75rem;
    background: #2a1d42;
    color: white;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
    width: 100%;
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
}

.center-button {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    padding: 50px;
}

.linkContainer {
    display: flex;
    align-content: space-between;
    padding-top: 50px;
}