.user-container {
    text-align: center;
    
}

.profile-card {
    text-align: center; /* Centra los elementos dentro de la tarjeta */
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}
  
#profile-picture {
    border-radius: 50%; /* Hace la imagen circular */
    width: 200px; /* Ajusta el tamaño según sea necesario */
    height: 200px;
    margin-bottom: 20px;
}