* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f444;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #6A1B9A;
    text-align: center;
}

header .logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header .logo i {
    margin-right: 5px;
}

header h1{
    color: #fff;
} 

.user-menu {
    display: inline-block;
    width: 40px; /* Ajusta el ancho del contorno */
    height: 40px; /* Ajusta el alto del contorno */
    line-height: 40px; /* Centra el ícono verticalmente */
    text-align: center; /* Centra el ícono horizontalmente */
    font-size: 20px; /* Tamaño del ícono */
    color: black; /* Color del ícono */
    background-color: transparent; /* Fondo transparente para el contorno */
    border: 2px solid black; /* Contorno negro */
    border-radius: 50%; /* Hace el contorno circular */
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
    transition: all 0.3s ease;
    margin-left: 10px; /* Añade espacio entre el input y el menú de usuario */
    position: relative;
}

.user-menu:hover {
    background-color: white; /* Cambia todo el fondo a blanco */
    color: white; /* Cambia el color del ícono al pasar el mouse */
    border-color: white; /* Cambia el contorno a blanco también */
}

.user-menu i {
    transition: color 0.3s ease; /* Asegura la transición suave del color del ícono */
}

.user-menu:hover i {
    color: black; /* Cambia el color del ícono al pasar sobre el menú */
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 150px;
}

.dropdown-menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0px 15px; /* Aumenta el espacio interno para que el texto tenga más espacio */
    font-size: 13px; /* Ajusta el tamaño de fuente si es necesario */
    border-radius: 4px;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background-color: #555; /* Cambia el color al pasar el mouse */
}