<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador - FEIFood</title>
    <link rel="stylesheet" href="styles/sesion.css">
    <link rel="stylesheet" href="styles/administrarComida.css">
    <link rel="stylesheet" href="styles/datatables.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/datatables.min.js"></script>
</head>
<body>
    <header>
        <a href="#" onclick="getMain()" class="logo"><i class="fas fa-utensils"></i> FEIFood</a>
        
        <h1>Panel de Administrador</h1>
        
        <div class="user-menu">
            <i class="fas fa-user" onclick="toggleUserMenu()"></i>
            <div class="dropdown-menu" id="userMenu">
                <a href="#" onclick="profile()"> <i style="color:white; padding: 5%;" class="fas fa-user-circle"></i> Mi perfil</a>
                <a href="#" onclick="help()"> <i style="color:white; padding: 5%;" class="fas fa-question-circle"></i> Ayuda</a>
                <a href="#" onclick="logout()"> <i style="color:white; padding: 5%;" class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
            </div>
        </div>
    </header>
    <div class="table-container">
        <table id="comidas" class="display">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                    <th>Establecimiento</th>
                </tr>
            </thead>
        </table>
    </div>
    
    <script src="js/administrarComida.js"></script>
    <script src="js/sesion.js"></script>
</body>
</html>