<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FEIFood</title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <h1 style="color: #927597; font-size: 70px;">FEIFood</h1>
        <div class="login-container">
            <h2>Login</h2>
            <form class="login-form" id="form" onsubmit="event.preventDefault(); login();" autocomplete="off"> <!-- Added autocomplete="off" for security -->
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="input" type="email" id="email" name="email" placeholder="YourEmail@example.com" required autocomplete="email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="input" type="password" id="password" name="password" placeholder="Password" required autocomplete="current-password">
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>

            <div class="links">
                <a href="javascript:void(0);" onclick="toggleModal();">Without an account? Register here</a>
            </div>

            <div class="divider">O</div>

            <a href="#" class="social-login center-button">Iniciar sesión con Google</a>
        </div>

        <div id="registrationModal" class="modal"> 
            <div class="modal-content">
                <h1>Register</h1>
                <form id="registrationForm" onsubmit="event.preventDefault(); register();" autocomplete="on"> <!-- Added autocomplete="on" -->
                    <div class="form-group">
                        <label for="name">Nombre: </label>
                        <input class="input" type="text" id="name" name="name" placeholder="Escriba su nombre aquí - maximo 80 caracteres" maxlength="80" required autocomplete="name">
                    </div>
                    <div class="form-group">
                        <label for="apellidoPaterno">Apellido paterno: </label>
                        <input class="input" type="text" id="apellidoPaterno" name="apellidoPaterno" placeholder="Escriba su apellido paterno aquí - maximo 80 caracteres" maxlength="80" required autocomplete="family-name">
                    </div>
                    <div class="form-group">
                        <label for="apellidoMaterno">Apellido materno: </label>
                        <input class="input" type="text" id="apellidoMaterno" name="apellidoMaterno" placeholder="Escriba su apellido materno aquí - maximo 80 caracteres" maxlength="80" required autocomplete="family-name">
                    </div>
                    <div class="form-group">
                        <label for="new-email">Correo: </label>
                        <input class="input" type="email" id="new-email" name="new-email" placeholder="Escriba su correo electrónico aquí - maximo 100 caracteres" maxlength="100" required autocomplete="email">
                        <p style="font-size: 12px;padding: 0% 0% 0% 100px;">Ejemplo: YourEmail@example.com</p>
                    </div>
                    <div class="form-group">
                        <label for="new-password">Contraseña: </label>
                        <input class="input" type="password" id="new-password" name="new-password" placeholder="Escriba su contraseña aquí - maximo 100 caracteres" maxlength="100" required autocomplete="new-password">
                    </div>
                    <div class="form-group">
                        <label for="value-1">Rol:</label>                             
                        <div class="radio-input">
                            <label class="label">
                                <input checked="" type="radio" id="value-1" name="value-radio" value="cliente" />
                                <p class="text">Cliente</p>
                            </label>
                            <label class="label">
                                <input type="radio" id="value-2" name="value-radio" value="repartidor" />
                                <p class="text">Repartidor</p>
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="social-login center-button roles">Register</button>
                </form>
                <button class="close-button" aria-label="Cerrar" onclick="toggleModal();">&times;</button>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </body>
</html>