<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil - FEIFood</title>
    <link rel="stylesheet" href="styles/sesion.css">
    <link rel="stylesheet" href="styles/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <a href="#" onclick="getMain()" class="logo"><i class="fas fa-utensils"></i> FEIFood</a>
        
        <h1>Mi Perfil</h1>
        
        <div class="user-menu">
            <i class="fas fa-user" onclick="toggleUserMenu()"></i>
            <div class="dropdown-menu" id="userMenu">
                <a href="#" onclick="help()"> <i style="color:white; padding: 5%;" class="fas fa-question-circle"></i> Ayuda</a>
                <a href="#" onclick="logout()"> <i style="color:white; padding: 5%;" class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
            </div>
        </div>
    </header>

    <section id="profile-info" class="user-container">
        <div class="profile-card">
            <img src="img/default-avatar.png" alt="Foto de perfil" id="profile-picture" title="Imagen de usuario">
            <h3>Nombre de Usuario:</h3>
            <h2 id="user-name"></h2>
            <h3>Correo de usuario:</h3>
            <p id="user-email"></p>
        </div>
    </section>

    <section id="pediente-history" class="food-container">
        <h2>Pedido pendiente</h2>
        <!-- El historial de pedidos se cargará aquí dinámicamente -->
    </section>
    <section id="aceptado-history" class="food-container">
        <h2>Pedido aceptado</h2>
        <!-- El historial de pedidos se cargará aquí dinámicamente -->
    </section>
    <section id="transito-history" class="food-container">
        <h2>Pedido en tránsito</h2>
        <!-- El historial de pedidos se cargará aquí dinámicamente -->
    </section>
    <section id="cancelado-history" class="food-container">
        <h2>Historial de Pedidos cancelados</h2>
        <!-- El historial de pedidos se cargará aquí dinámicamente -->
    </section>
    <section id="completado-history" class="food-container">
        <h2>Historial de Pedidos completados</h2>
        <!-- El historial de pedidos se cargará aquí dinámicamente -->
    </section>

    <script src="js/profile.js"></script>
    <script src="js/sesion.js"></script>
</body>
</html>